.wrapper
  .notification
    = render partial: 'layouts/side_bar'
    .chat-main
      .main-header
        .main-header__wrapper
          .current-group
            .current-group__name
              = @group.name
            %ul.member-list
              Member :
              - @group.users.each do |member|
                %li.member-list__member
                  = member.name
          = link_to 'Edit', edit_group_path(@group),class:"main-header__edit-btn" 
      .messages
        - @messages.each do |message|
          .message
            .upper-info
              %p.upper-info__user
                = message.user.name
              %p.upper-info__date
                %span{class: "supText"}
                  = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
            .message__text
              = message.text
            .image
              = image_tag(message.image)
      .form
        = form_for [@group,@message] do |f|
          .new-message
            .input-box
              = f.text_field :text,class: "input-text",placeholder:"text a message"
              %label.label-image
                %i.fa.fa-image
                = f.file_field :image,class: "image-label__input"
            = f.submit value: "Send",class: "submit" ,"data-disable-with": "Send"
        


  
